UserInterfaceState.xcuserstate
Pods/Pods.xcodeproj/xcuserdata/maria.xcuserdatad/xcschemes/xcschememanagement.plist
SilverCloud.xcodeproj/xcuserdata/maria.xcuserdatad/xcschemes/xcschememanagement.plist
build
SilverCloud.xcworkspace/xcuserdata
